extends layout.pug

block content

  nav.nav
      a(href=`/about/`) Back &larr;

  article.portfolio-intro
    h1 Server Error - Status: 500
    pre= `${err.stack}`

  nav.nav
    a(href=`/`) Back &larr;