extends layout.pug

block content

  article.portfolio-intro
    h1 My portfolio | Getoar Morina
    p This is a list of my projects.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.images}`, alt=`${project.title}`)
            h5= project.title
