extends layout.pug

block content

  nav.nav
      a(href=`/about/`) Back &larr;

  article.portfolio-intro
    h1= `${err.message} - Status: ${err.status}`
    pre= `${err.stack}`
  nav.nav
    a(href=`/about/`) Back &larr;