extends layout.pug

block content

  nav.nav
      a(href=`/about/`) Back &larr;

  article.portfolio-intro
    h1= `${err.message}`
    p The page you have been looking for is not found

  nav.nav
    a(href=`/about/`) Back &larr;